.main{
  margin: 0 100px 0 100px;
}
.text {
  display: inline-block;
  color: black;
  
}
.text:hover {
  color: black;
  text-decoration: none;
}

.card-line::after{
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #fcd232;
  transition: width .5s;
}
.card-line:hover::after{
  width: 100%;
  transition: width .5s;
}
.black-button-navbar{
  background-color: black;
  color: #fcd232;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 7px 7px 5px;
}
.black-button {
  background-color: black;
  color: #fcd232;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 7px 7px 5px;
  box-shadow: 17px 31px 65px -1px rgba(158,158,158,0.75);
  -webkit-box-shadow: 17px 31px 65px -1px rgba(158,158,158,0.75);
-moz-box-shadow: 17px 31px 65px -1px rgba(158,158,158,0.75);
transition: background-color .5s;
}
.yellow-button {
  background-color: #fcd232;
  color: black;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 7px 7px 5px;
  box-shadow: 17px 31px 65px -1px rgba(158,158,158,0.75);
  -webkit-box-shadow: 17px 31px 65px -1px rgba(158,158,158,0.75);
  -moz-box-shadow: 17px 31px 65px -1px rgba(158,158,158,0.75);
  transition: background-color .5s;
}


.black-button:hover {
  background-color: rgba(0, 0, 0, 0.767);
  transition: background-color  .5s;
  
}

.yellow-button:hover{
  background-color: #c2a327;
  transition: background-color  .5s;
}
.Footer {
  width: 100%;
  border-top: 2px solid #c4c4c4;
  background-color: #f5f5f5;
}
.bottom-section {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #e7e7e7;
  padding-top: 1.3rem;
  
  
}
.bottom-section p {
  font-weight: bold;
  font-size: 13px;
 
}
span {
  display: inline-block;
}
.text-bold {
  font-weight: bold !important;
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 13px;
  font-weight: 600;
}
li {
  margin: 5px 0 6px 0;
}
.icon {
  font-size: 2rem;
  margin: 5px 15px 0 0;
}
.facebook {
  color: #3b5998;
}
.linkedin {
  color: #0e76a8;
  border-radius: 50%;
}
.instagram {
  color: #c13584;
}
.logo {
  height: 50px;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.arrow-btn {
  color: black;
  font-size: 3rem;
  display: inline-block;
  margin-left: 85%;
}


.Banner {
  background-image: url("./assets/img/banner_img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 15px;
  margin-bottom: 30px;
  
}
.wrapper{
  position: relative;
}
.overlay{
  position: absolute;
  top: 0;
	bottom:0;
	left: 0;
	right:0;
	width: 100%;
	height: 500px;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
	background-position:center;
}
.Banner div {
  width: 60%;
}

.Banner h1 {
  font-weight: 500;
  padding: 0 15px;
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 63px;
  z-index: 101;
  position: relative;
  z-index: 101;
}
.padding-custom{
 margin: auto;
 padding: 0 100px 0 100px !important;
}
.img-right{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.paragrapgh{
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.text-linetrough{
  text-decoration: line-through;
}
.btn-linetrough:hover{
  background-color: black;
  
}
.pill{
  display: inline-block;
  background-color: #fcd232;
  border-radius: 17px;
  font-size: 13px;

  text-decoration: none;
  padding: 7px 13px;
  margin-bottom: 10px;
}

.BottomBanner{
  margin: 100px 0;
}
.BottomBanner h1{
 font-size: 3.5rem;
}
.BottomBanner p{
  font-size: 2rem;
}

.marg{
  padding-bottom: 8rem;
}

.img-overlay{
  position: absolute;
  top: 0;
	bottom:0;
	left: 0;
	right:0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-position:center;
}
.red{
  background-color:rgba(145, 7, 7, 0.623) ;
}
.green{
  background-color: rgba(3, 88, 21, 0.623);
}
.purple{
  background-color: rgba(101, 5, 114, 0.623);
}
.blue{
  background-color: rgba(33, 22, 131, 0.623);
}
.teal{
  background-color: rgba(2, 97, 57, 0.623);
}
.iconSize{
  font-size: 20px;
}

.black-white-div{
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 1.9rem;
  margin: 3px;

}
.yellow-icon{
  color: #fcd232;
  align-self: center;
  margin-right: 5px;
  font-size: 2rem;
}

.card-lift{
  -webkit-transition-duration: 0.4s;
}
.card-lift:hover{
  box-shadow: 0 14px 18px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card-link{
  color: black;
}
.card-link:hover{
  text-decoration: none;
  color: black;
}

label{
  font-size: 14px;
  font-weight: 600;
}
.no-button{
  background-color: transparent;
  border: 0;
}


p.lorem-text {
  text-align: justify;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2em;
  margin: 10px;
  line-height: 1;
  border-color: transparent;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke:#fcd232;
  stroke-linecap: round;
  stroke-width: 5;
}

.modal-body {
  padding-top: 0.25em;
 
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

@media (max-width:576px){
.main{
  margin: 0;
  display: flex;
  justify-content: center;
}
.marg{
  padding-bottom: 20px;
  }
}

@media (max-width:1620px){
  .marg{
    padding-bottom: 5rem;
    }
}
@media (max-width:980px){
  .marg{
    padding-bottom: 3rem;
    }
}



